<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-mas-storage"
      version="2.1.0">
    <name>MASStorage</name>
    <description>Cordova MASStorage Plugin</description>
    <license>Broadcom</license>
    <keywords>cordova, MASStorage, Broadcom</keywords>

    <js-module src="www/MASStoragePlugin.js" name="MASStoragePlugin">
        <clobbers target="MASStoragePlugin" />
    </js-module>
    
    <dependency id="cordova-plugin-mas-core" version="2.1.0" />
    
    <!-- iOS -->
    <platform name="ios" >
        <config-file target="config.xml" parent="/*" >
            <preference name="deployment-target" value="9.0"/>

            <feature name="MASStoragePlugin" >
                <param name="ios-package" value="MASStoragePlugin"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/MASStoragePlugin.h" />
        <source-file src="src/ios/MASStoragePlugin.m" />

        <podspec> 
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true" >
                <pod name="MASStorage" spec="~> 2.1.00" />
            </pods>
        </podspec>

    </platform>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MASStoragePlugin" >
                <param name="android-package" value="com.ca.mas.cordova.storage.MASStoragePlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>

        <source-file src="src/android/MASStoragePlugin.java" target-dir="src/com/ca/mas/cordova/storage" />
        <source-file src="src/android/StorageDataMarshaller.java" target-dir="src/com/ca/mas/cordova/storage" />
    </platform>
</plugin>

